.List {
  ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  li {
    width: 25vw;
    text-align: center;
    list-style-type: none;
    background-color: #1abc9c;
    padding: 10px;
    border-radius: 50px;
    margin: 5px;
    text-decoration: none;
    color: black;
  }

  a {
    text-decoration: none;
  }
}